<div class="botonera" th:fragment="botoneraTabla">
	
		<!--/* Obtenemos las urls de los botones desde el controlador para insertarlos en el JS */-->	
		<a id="uriLeer" hidden="true" th:href="@{${leer}}"></a>	
		<a id="uriModificar" hidden="true" th:href="@{${modificar}}"></a>	
		<a id="uriBorrar" hidden="true" th:href="@{${borrar}}"></a>	
		
			<div class="botonera-crud" align="left">
				<a id="enlaceAgnadir" class="button-crud" th:href="@{${agnadir}}">
					<div>
						<i class="far fa-plus-square icono-crud"></i>
						<span class="text-crud" th:text="#{html.boton.agnadir}"/>
					</div>
				</a>
					
				<a id="botonModificar" class="button-crud" disabled>
					<div>
						<i class="far fa-edit icono-crud"></i>
						<span class="text-crud" th:text="#{html.boton.modificar}"/>
					</div >
				</a>
				
				<a id="botonBorrar" class="button-crud" disabled>
					<div>
						<i class="far fa-times-circle icono-crud"></i>
						<span class="text-crud" th:text="#{html.boton.eliminar}"/>
					</div>
				</a>
			</div >
			<div align="right" class="sercher-group">
				<div class="input-group search-div">
				  <div class="input-group-prepend">
				    <div class="input-group-text">
				   	 	<i class="fas fa-search icon-search-input"></i>
				    </div>
				  </div>
				  <input id="search" name="search" type="text" class="custom-form-control">
				</div>
			</div > 
	</div>
