<div th:fragment="cabecera" th:align="left" style="padding-bottom: 10px;">
	<div class="row" style="padding-top:10px;">
		<div class="offset-sm-1 col-sm-7">
			<a th:href="@{/}">
				<img th:src="@{/images/logo_anagrama_inventa.png}" /> 
			</a>
		</div>
		<div class="col-sm-3" style="text-align:end;">
			<a th:href="@{/}">
				<img th:src="@{/images/logo_enaire.png}" /> 
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12  bg-light" style="border-bottom: #007bff 2px solid; border-top: #007bff 2px solid; height: 35px;">
		</div>
	</div>
</div>
