
<div th:fragment="menu" th:align="left">
    <div id="accordion" class="myaccordion">
        <div class="card">
            <div id="headingAdministracion" class="card-header bg-primary" style="width:228px;">
		        	<button class="btn collapsed text-sm-left" data-toggle="collapse" data-target="#collapseAdministracion" 
		        		aria-expanded="false" aria-controls="collapseAdministracion" th:text="#{html.menu.administracion}">
		        	</button  >
		        	<span style="font-size: 16px; color: white"><i class="fas fa-caret-down"></i></span>
		        	
            </div>
            <div id="collapseAdministracion" class="collapse bg-light" aria-labelledby="headingAdministracion" data-parent="#accordion">
                <div class="card-body">
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.usuario}" th:href="@{/menu/usuarios}"></a><br>
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.versionesInventa}" href="#" role="button"></a> <br>	
                </div>
            </div>
        </div>
        
        <div class="card">
            <div id="headingGestionBBDD" class="card-header bg-primary">
	        	<button class="btn collapsed text-sm-left" data-toggle="collapse" data-target="#collapseGestionBBDD" 
	        		aria-expanded="false" aria-controls="collapseGestionBBDD" th:text="#{html.menu.gestionBBDD}"></button>
	        	<span style="font-size: 16px; color: white"><i class="fas fa-caret-down"></i></span>
            </div>
            <div id="collapseGestionBBDD" class="collapse bg-light text-sm-left" aria-labelledby="headingGestionBBDD" data-parent="#accordion">
                <div class="card-body">
                	
                	<!--/* INICIO - Submenú Control Versiones SW */-->
                	<div id="headingControlVersionesSW">
                		<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
	                	<a class="sub" href="#" data-toggle="collapse" data-target="#collapseControlVersionesSW" aria-expanded="true" aria-controls="collapseControlVersionesSW" 
	                		th:text="#{html.menu.controlVersionesSW}"></a>
	            	</div>
                	<div id="collapseControlVersionesSW" class="collapse" aria-labelledby="headingControlVersionesSW" data-parent="#collapseGestionBBDD">
		                <div id="controlVersionesSW" style="margin-left: 10%">
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
		                	<a class="subsub" th:text="#{html.menu.aplicacionesSW}" th:href="@{/menu/controlVersionesSW/aplicacionesSW}"></a><br>
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.versionesSW}" th:href="@{/menu/controlVersionesSW/versionesSW}"></a><br>
	              		</div>
	                </div>
					<!--/* FIN - Submenú Control Versiones SW */-->
					<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.equipamiento}" th:href="@{/menu/equipamientos}"></a> <br>	
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.frecuencias}" th:href="@{/menu/frecuencias}"></a> <br>	
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.frecuenciasATC}" th:href="@{/menu/frecuenciasATC}"></a> <br>	
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.historicoPlanificador}" href="#"></a>			                	
				
					<!--/* INICIO - Submenú Pasarelas VoIP */-->
                	<div id="headingPasarelasVoIP">
                		<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
	                	<a class="sub" href="#" data-toggle="collapse" data-target="#collapsePasarelasVoIP" aria-expanded="true" aria-controls="collapsePasarelasVoIP" 
	                		th:text="#{html.menu.pasarelasVoIP}"></a>	
	            	</div>
                	<div id="collapsePasarelasVoIP" class="collapse" aria-labelledby="headingPasarelasVoIP" data-parent="#collapseGestionBBDD">
		                <div id="pasarelasVoIP" style="margin-left: 10%">
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
		                	<a class="subsub" th:text="#{html.menu.chasisPasarelas}" th:href="@{/menu/pasarelasVoIP/chasisPasarelas}"></a><br>
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposChasis}" th:href="@{/menu/pasarelasVoIP/tiposChasis}"></a><br>		
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.ambitosRecursos}"></a><br>
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>	
                			<a class="subsub" th:text="#{html.menu.funciones}" th:href="@{/menu/pasarelasVoIP/funcionPasarelas}"></a><br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.recursos}"></a><br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tarjetas}"></a><br>	
	              		</div>
	                </div>
					<!--/* FIN - Submenú Pasarelas VoIP */-->
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.propietarios}" href="#"></a> <br>
                		
                	<!--/* INICIO - Submenú Redes T/T */-->
                	<div id="headingRedesTT">
                		<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
	                	<a class="sub" href="#" data-toggle="collapse" data-target="#collapseRedesTT" aria-expanded="true" aria-controls="collapseRedesTT" 
	                		th:text="#{html.menu.redesTT}"></a>	
	            	</div>
                	<div id="collapseRedesTT" class="collapse" aria-labelledby="headingRedesTT" data-parent="#collapseGestionBBDD">
		                <div id="redesTT" style="margin-left: 10%">
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
		                	<a class="subsub" th:text="#{html.menu.redesTT}"></a> <br>	
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.enlacesTT}"></a> <br>	
	              		</div>
	                </div>
					<!--/* FIN - Submenú Redes T/T */-->
					
                	<!--/* INICIO - Submenú Organización */-->
                	<div id="headingOrganizacion">
                		<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
	                	<a class="sub" href="#" data-toggle="collapse" data-target="#collapseOrganizacion" aria-expanded="true" aria-controls="collapseOrganizacion" 
	                		th:text="#{html.menu.organizacion}"></a>	
	            	</div>
                	<div id="collapseOrganizacion" class="collapse" aria-labelledby="headingOrganizacion" data-parent="#collapseGestionBBDD">
		                <div id="organizacion" style="margin-left: 10%">
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
		                	<a class="subsub" th:text="#{html.menu.regionesMantenimiento}"></a> <br>	
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.sectoresMantenimiento}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.regionesOperativas}"></a> <br>	
	              		</div>
	                </div>
					<!--/* FIN - Submenú Organización */-->
                	
                	<!--/* INICIO - Submenú Sectores Espacio Aéreo */-->
                	<div id="headingSectoresEspacioAereo">
                		<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
	                	<a class="sub" href="#" data-toggle="collapse" data-target="#collapseSectoresEspacioAereo" aria-expanded="true" aria-controls="collapseSectoresEspacioAereo" 
	                		th:text="#{html.menu.sectoresEspacioAereo}"></a>	
	            	</div>
                	<div id="collapseSectoresEspacioAereo" class="collapse" aria-labelledby="headingSectoresEspacioAereo" data-parent="#collapseGestionBBDD">
		                <div id="sectoresEspacioAereo" style="margin-left: 10%">
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
		                	<a class="subsub" th:text="#{html.menu.airblocks}" th:href="@{/menu/sectoresEspacioAereo/airblocks}"></a> <br>	
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
		                	<a class="subsub" th:text="#{html.menu.sectoresATC}"></a> <br>	
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.sectoresOACI}"></a> <br>	
	              		</div>
	                </div>
					<!--/* FIN - Submenú Sectores Espacio Aéreo */-->
					<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.serviciosRadio}" href="#"></a> <br>	
                	<!--/* INICIO - Submenú Sistemas */-->
                	<div id="headingSistemas">
                		<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
	                	<a class="sub" href="#" data-toggle="collapse" data-target="#collapseSistemas" aria-expanded="true" aria-controls="collapseSistemas" 
	                		th:text="#{html.menu.sistemas}"></a>	
	            	</div>
                	<div id="collapseSistemas" class="collapse" aria-labelledby="headingSistemas" data-parent="#collapseGestionBBDD">
		                <div id="sistemas" style="margin-left: 10%">
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
		                	<a class="subsub" th:text="#{html.menu.tiposSistemas}"></a> <br>	
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
		                	<a class="subsub" th:text="#{html.menu.tiposSubsistemas}"></a> <br>	
	              		</div>
	                </div>
					<!--/* FIN - Submenú Sectores Espacio Aéreo */-->
                	
                	<!--/* INICIO - Submenú Tipos */-->
                	<div id="headingTipos">
                		<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
	                	<a class="sub" href="#" data-toggle="collapse" data-target="#collapseTipos" aria-expanded="true" aria-controls="collapseTipos" 
	                		th:text="#{html.menu.tipos}"></a>	
	            	</div>
                	<div id="collapseTipos" class="collapse" aria-labelledby="headingTipos" data-parent="#collapseGestionBBDD">
		                <div id="tipos" style="margin-left: 10%">
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposDependencias}" th:href="@{/menu/tipos/tiposDependencia}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
		                	<a class="subsub" th:text="#{html.menu.tiposEmplazamientos}" th:href="@{/menu/tipos/tiposEmplazamiento}"></a> <br>	
		                	<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposEquiposConfiguracionRadio}" th:href="@{/menu/tipos/tiposEquipoConfiguracionRadio}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposInterfazOperacion}" th:href="@{/menu/tipos/tiposInterfazOperacion}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposModulacion}" th:href="@{/menu/tipos/tiposModulacion}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposPolarizacion}" th:href="@{/menu/tipos/tiposPolarizacion}"></a> <br>
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>	
                			<a class="subsub" th:text="#{html.menu.tiposDocumento}" th:href="@{/menu/tipos/tiposDocumento}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposTopologia}" th:href="@{/menu/tipos/tiposTopologia}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposBandaFrecuencia}" th:href="@{/menu/tipos/tiposBandaFrecuencia}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposFuentesInformacion}" th:href="@{/menu/tipos/tiposFuenteInformacion}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposSectoresATC}"  th:href="@{/menu/tipos/tiposSectorATC}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposRecursoOperativo}" th:href="@{/menu/tipos/tiposRecursoOperativo}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposCanalizacion}" th:href="@{/menu/tipos/tiposCanalizacion}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposRecursoRadio}" th:href="@{/menu/tipos/tiposRecursoRadio}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposJerarquia}" th:href="@{/menu/tipos/tiposJerarquia}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposLineaTelefonica}" th:href="@{/menu/tipos/tiposLineaTelefonica}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposUbicacion}" th:href="@{/menu/tipos/tiposUbicacion}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposInstalacion}" th:href="@{/menu/tipos/tiposInstalacion}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposEnlacesTT}" th:href="@{/menu/tipos/tiposEnlaceTT}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.capacidadEnlacesTT}" th:href="@{/menu/tipos/tiposCapacidadEnlaceTT}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposRadioenlaces}" th:href="@{/menu/tipos/tiposRadioenlace}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposConfiguracionesRadioenlaces}" th:href="@{/menu/tipos/tiposConfiguracionRadioenlace}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposConfiguracionesTiradas}" th:href="@{/menu/tipos/tiposConfiguracionTirada}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposSistemasLocales}" th:href="@{/menu/tipos/tiposSistemaLocal}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposRacks}" th:href="@{/menu/tipos/tiposRack}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.tiposEstructuraAntenas}" th:href="@{/menu/tipos/tiposEstructura}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.usoAntenas}" th:href="@{/menu/tipos/tiposUsoAntena}"></a> <br>	
                			<span style="font-size: 16px; color: black"><i class="fas fa-caret-right"></i></span>
                			<a class="subsub" th:text="#{html.menu.usoTiradas}" th:href="@{/menu/tipos/tiposUsoTirada}"></a> <br>	
	              		</div>
	                </div>
					<!--/* FIN - Submenú Tipos */-->
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.dependencias}" href="#"></a> <br>	
                </div>
            </div>
        </div>
        
        <div class="card">
            <div id="headingGestionInventario" class="card-header bg-primary">
		        <button class="btn collapsed text-sm-left" data-toggle="collapse" data-target="#collapseGestionInventario" 
		        	aria-expanded="false" aria-controls="collapseGestionInventario" th:text="#{html.menu.gestionInventario}"></button>
		        <span style="font-size: 16px; color: white"><i class="fas fa-caret-down"></i></span>
            </div>
            <div id="collapseGestionInventario" class="collapse bg-light" aria-labelledby="headingGestionInventario" data-parent="#accordion">
                <div class="card-body">
                								
                </div>
            </div>
        </div>
        
        <div class="card">
            <div id="headingGestionPlanificacionVoIP" class="card-header bg-primary">
		        <button class="btn collapsed text-sm-left" data-toggle="collapse" data-target="#collapseGestionPlanificacionVoIP" 
		        	aria-expanded="false" aria-controls="collapseGestionPlanificacionVoIP" th:text="#{html.menu.gestionPlanificacionVoIP}"></button>
		        <span style="font-size: 16px; color: white">
		        	<i class="fas fa-caret-down"></i>
		        </span>
            </div>
            <div id="collapseGestionPlanificacionVoIP" class="collapse bg-light" aria-labelledby="headingGestionPlanificacionVoIP" data-parent="#accordion">
                <div class="card-body">
                </div>
            </div>
        </div>
        
        <div class="card">
            <div id="headingConsultasPredefinidas" class="card-header bg-primary">
		        <button class="btn collapsed text-sm-left" data-toggle="collapse" data-target="#collapseConsultasPredefinidas" 
		        	aria-expanded="false" aria-controls="collapseConsultasPredefinidas" th:text="#{html.menu.consultasPredefinidas}"></button>
		        <span style="font-size: 16px; color: white"><i class="fas fa-caret-down"></i></span>
            </div>
            <div id="collapseConsultasPredefinidas" class="collapse bg-light" aria-labelledby="headingConsultasPredefinidas" data-parent="#accordion">
                <div class="card-body">
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.direccionamientoIP}" href="#"></a> <br>
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.equipamientoInstalado}" href="#"></a> <br>	
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.equipamientoInstaladoLibre}" href="#"></a> <br>	
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.equipamientoInstaladoResumen}" href="#"></a> <br>	
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.equiposRadioEquipamientoInstalado}" href="#"></a> <br>	
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.equiposRadioServicios}" href="#"></a> <br>
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.localizarEquipamiento}" href="#"></a> <br>
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.localizarFrecuencia}" href="#"></a> <br>
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.pasarelasVoIPEquipamientoInstalado}" href="#"></a> <br>	
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.pasarelasVoIPServicios}" href="#"></a> <br>
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.recursosOperativos}" href="#"></a> <br>
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.radioEnlaces}" href="#"></a> <br>
                	<span style="font-size: 16px; color: #007bff"><i class="fas fa-caret-square-down"></i></span>
                	<a class="sub" th:text="#{html.menu.tiradasRF}" href="#"></a> <br>
                </div>
            </div>
        </div>
        
    </div>
    <script>
		$("#accordion").on("hide.bs.collapse show.bs.collapse", e => {
		  $(e.target)
		    .prev()
		    .find("i:last-child")
		    .toggleClass("fa-caret-up fa-caret-down");
		});
	</script>
</div>	



		
