.breadcrumb {
     display: flex;
     flex-wrap: wrap;
     padding: 0;
     margin-bottom: 1rem;
     list-style: none;
     background-color: transparent;
     border-radius: 0;
     border-bottom: #0056b3 2px solid;
     font-weight: bold;
     
 }
 
 .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0;
    color: #0056b3;
    content: ":";
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
}

.breadcrumb-item.active {
    color: #0056b3;
}

.breadcrumb-a {
	color: #0056b3;
}
 
